.board {
    min-width: 270px;
    max-width: 270px;
    background-color: var(--board-bg);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.board-heading{
    display: flex;
    align-items: center;
    /* margin: 5px; */
    /* padding: 5px; */
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    justify-content: space-between;
    background-color: transparent;
}

.board-heading:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.board-heading-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.board-heading .hidden-btn {
    opacity: 0;
}

.board-heading:hover .hidden-btn {
    opacity: 1;
}

.board-title {
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--text-grey);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    overflow-x: hidden;
    overflow-y: hidden;
}

.board-title > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 60%;
}

.cards-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    border-radius: 3px;
}

.drag-over {
    background-color: #dcdcdc;
}