.blank {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blank-link {
    text-decoration: none;
    color: var(--text-grey);
    font-size: 30px;
    font-weight: bold;
    background-color: var(--board-bg);
    padding: 10px;
}

.blank-link:hover {
    background-color: lightgray;
}