.card-container {
    display: flex;
    height: fit-content;
}

.card {
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
    /* cursor: default; */
}

.card:hover {
    background-color: #efefef;
}

.card > input {
    outline: none;
    border: none;
    
    background-color: #f4f5f7;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px inset;
}

.card-footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.card-footer-left {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.card-footer-right {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.card-icon {
    /* background-color: red; */
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-type svg {
    /* color: white; */
    width: 12px;
    height: 12px;
    opacity: .8;
}