.cardmodal {
    width: 90vw;
    height: 90vh;
    max-width: 1280px;
    max-height: 720px;
    display: flex;
    flex-direction: column;
}

.cardmodal-button-container {
    display: flex;
    gap: 10px;
}

.cardmodal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    /* background-color: var(--board-bg); */
    
}

.cardmodal-header-issue {
    display: flex;
    align-items: center;
    padding: 5px;
    color: var(--text-grey)
}


.cardmodal-cols {
    display: flex;
    overflow: auto;
}

.cardmodal-tall {
    width: 30px;
    /* background-color: yellowgreen; */
}

.cardmodal-main-wrapper {
    flex: 2;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}


.cardmodal-main {
    flex: 1;
}

.cardmodal-main-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-grey);
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: fit-content; */
    gap: 10px;
}

.cardmodal-main-title .hidden-btn {
    opacity: 0;
}

.cardmodal-main-title:hover .hidden-btn {
    opacity: 1;
}

.cardmodal-main-title:hover {
    background-color: var(--board-bg) !important;
}

.cardmodal-main-title-edit {
    background-color: var(--board-bg);
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.cardmodal-main-title-edit > input {
    outline: none;
    border: none;
    line-height: 30px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    color: var(--text-grey);
    background-color: rgba(0, 0, 0, 0.1);
    
}

.cardmodal-main-desc {
    margin-top: 10px;
    border: 1px solid var(--board-bg);
}

.cardmodal-main-desc > * {
    padding: 5px;
}

.cardmodal-main-desc-heading {
    font-weight: 500;
    color: var(--text-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cardmodal-main-desc-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardmodal-main-subtask{
    margin-top: 10px;
    border: 1px solid var(--board-bg);
}

.cardmodal-main-subtask > * {
    padding: 5px;
}

.subtasks {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardmodal-main-subtask-heading {
    font-weight: 500;
    color: var(--text-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cardmodal-subtask-edit {
    display: flex;
    gap: 5px;
}

.cardmodal-subtask-edit > input {
    border: none;
    outline: none;
    background-color: var(--board-bg);
    padding: 0 5px;
}

.cardmodal-subtask-edit-buttons {
    display: flex;
    gap: 5px;
}

.cardmodal-side-wrapper {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.cardmodal-side {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .cardmodal-status {
    background-color: var(--board-bg);
} */

.cardmodal-status > button {
    cursor: pointer;
    border: none;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: var(--board-bg);
    color: var(--text-grey);
    
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.cardmodal-status > button:hover {
    background-color: #c0c0c2;
}

.cardmodal-status-title {
    max-width: 150px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardmodal-status svg {
    width: 14px;
    height: 14px;
}

.cardmodal-status-dropdown{
    /* border: 1px solid red; */
    /* position: absolute; */
    position: absolute;
    width: 100%;
    margin-top: 2px;
    padding: 2px;
    max-width: 200px;
    background-color: white;
    border: 1px solid lightgrey;
    
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.cardmodal-status-dropdown > div {
    /* border: 1px solid blue; */
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.cardmodal-status-dropdown > div:hover{
    background-color: var(--board-bg);
}

.cardmodal-side-details {
    border: 1px solid lightgrey;
    
    display: flex;
    flex-direction: column;
}

.cardmodal-side-details-heading {
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

.cardmodal-side-details-heading > div {
    color: var(--text-grey);
    font-weight: bold;
}

.cardmodal-side-details-heading svg {
    width: 14px;
    height: 14px;
}

.cardmodal-side-details-heading:hover{
    background-color: var(--board-bg);
}

.cardmodal-side-details-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-top: 10px;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: var(--board-bg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}